:root {
    --background-grey: #f3f3f3;
    --background-white: #fff;
    --blue: #3C96F7;
    --grey: #a0a0a0;
    
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    display: flex;
    justify-content: center;
    
    width: 100%;

    font-family: sans-serif;
    font-size: 1.4rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 90%;
    min-height: 100vh;
}

.container aside {
    display: none;
}

@media (min-width: 650px) {
    body{
        background-color: var(--background-grey);
    }
    .container aside {
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 50%;
    }
    .container aside img {
        height: 650px; /* add clamp */
    }
}