.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user figure img{
    width: 14.9rem;
}

.user .user__avatar img{
    border-radius: 50%;
}
.user .user__account {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user .user__account a {
    font-size: 1.4rem;
    color: var(--blue);
}
.user .user__account a:first-child {
    padding: .8rem;
    background-color: var(--blue);
    color: white;
    border-radius: .4rem;
}